*{
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(91, 91, 91);
  overflow: scroll;
  scroll-behavior: smooth;
  margin: 2vw;
  background-size:contain;
  background-position:0 70vw;
  background-repeat: no-repeat;
  width: 100%;
}
#img{
  height: 18vw;
  width:100vw;
  height: 80vw;
  display: flex;
  align-self: end;
}
#main {
  border-radius: 2vw;
  z-index: 1;
  display: flex;
  justify-content:center;
  height: fit-content;
  margin-bottom: 7vw;
}
#wh {
  z-index: -1;
  width: 100%;
  height: 40vw;
  padding-bottom: 5vw;
  color: rgb(255, 255, 255);
  display:grid;
  font-size: 9vw;
  justify-content: center;
  align-items:center;
}
.but {
  border-radius: 100%;
  background-color:#1aa3ff;
  width: 25vw ;
  height: 25vw;
  font-size: 5.5vw;
  color: white;
}
/* #security{
  border-radius: 100%;
  background-color:#1aa3ff;
  width: 25vw ;
  height: 25vw;
  font-size: 5.5vw;
  color: rgb(0, 0, 0);
}
#lost{
  border-radius: 100%;
  background-color:#f6ff00;
  width: 25vw ;
  height: 25vw;
  font-size: 5.5vw;
  color: rgb(0, 0, 0);
} */
@keyframes rotate {
  0%
  {
    transform:rotate(0deg) ;
  }
  100%{
    transform: rotate(360deg);
  }
  
}
#buttt{
  border-radius: 100%;
  margin: 10px;
  background-color:hsl(241, 67%, 49%);
  color:white;
  width: 25vw;
  height: 25vw;
  font-size: 5vw;
  justify-content: center;
  align-content: center;
}
#butt {
  border-radius: 100%;
  margin: 10px;
  background-color:#1d9c1d;
  color:white;
  width: 25vw;
  height: 25vw;
  font-size: 5vw;
  justify-content: center;
  align-content: center;
}
#text{
  justify-self: center;
  color: white;
}
#but1{
  display: grid;
  justify-content: center;
  width:50%;
  height: 50%;
}
#but2{
  display: grid;
  width:50%;
  height: 50%;

}
#butt2{
  display: grid;
  align-items: top;
  justify-self: top;

}
#butt1{
display: grid;
align-items: top;
justify-self: top;
}
#span{
  border: 2vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#span::before{
  content: '';
  position: absolute;
  width: 30vw;
  z-index: -1;
  height: 30vw;
  border-radius: 100%;
  background-image: conic-gradient(transparent,#FF5500,#FF5500,#FF5500);
  animation: 4s rotate linear infinite; ;

}
#spann{
  border: 2vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spann::before{
  content: '';
  position: absolute;
  width: 30vw;
  z-index: -1;
  height: 30vw;
  border-radius: 100%;
  background-image: conic-gradient(transparent,#FF5500,#FF5500,#FF5500);
  animation: 4s rotate linear infinite; ;

}